@import "tailwindcss";
/* For most modern browsers */
* {
 
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

/* Chrome, Safari, Opera */
*::-webkit-scrollbar {
  display: none;
}
